{extend name='index:base'}
{block name='main'}
<input type="hidden" name="cid" value="{:input('cid')}">
<input type="hidden" name="vid" value="{:input('vid')}">
<input type="hidden" name="time" value="{:input('time')}">	
<input type="hidden" name="tid" value="{:input('tid')}">	
		<div class="e-payment-section">
			<div class="col-md-8 payment-left">
				<div class="confirm-details">
					<h3>核对您的付款信息</h3>
				
				
				</div>
				<div class="payment-options">
					<h3>支付方式</h3>
					<div class="tabs-box">
					<ul class="tabs-menu booking-menu">
						<li><a href="#tab1">Credit Card</a></li>
						<li><a href="#tab4">支付宝</a></li>
					</ul>
					<div class="clearfix"> </div>
					<div class="tab-grids event-tab-grids">
						<div id="tab1" class="tab-grid">
							<img src="{$Think.config.WEBSERVER}/public/film/images/payment.png" alt="payment" />
							<input name="banknum" type="text" class="payment" value="Enter Your Card Number" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Your Card Number';}">
							<input name="bankname" type="text" class="payment" value="Your Name On Card" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Name On Card';}">
						
							<input type="submit" class="go-to-pay" value="make payment" onclick="makeOrder()">

						</div>
				
				
						<div id="tab4" class="tab-grid">
							<div class="row">
                        <div class="col-md-6">
                            <img class="pp-img" src="{$Think.config.WEBSERVER}/public/film/images/paypal.png" alt="Image Alternative text" title="Image Title">
                            <p>Important: You will be redirected to PayPal's website to securely complete your payment.</p><a class="btn btn-primary">Checkout via Paypal</a>	
                        </div>
                        <div class="col-md-6">
                            <form class="cc-form">
                                <div class="clearfix">
                                    <div class="form-group form-group-cc-number">
                                        <label>Card Number</label>
                                        <input class="form-control" placeholder="xxxx xxxx xxxx xxxx" type="text"><span class="cc-card-icon"></span>
                                    </div>
                                    <div class="form-group form-group-cc-cvc">
                                        <label>CVV</label>
                                        <input class="form-control" placeholder="xxxx" type="text">
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <div class="form-group form-group-cc-name">
                                        <label>Card Holder Name</label>
                                        <input class="form-control" type="text">
                                    </div>
                                    <div class="form-group form-group-cc-date">
                                        <label>Valid Thru</label>
                                        <input class="form-control" placeholder="mm/yy" type="text">
                                    </div>
                                </div>
                                <div class="checkbox checkbox-small">
                                    <label>
                                        <input class="i-check" type="checkbox" checked="">Add to My Cards</label>
                                </div>
                                <input class="btn btn-primary" type="submit" value="Proceed Payment">
                            </form>
                        </div>
                    </div>
						</div>
							</div>			
					<div class="clearfix"> </div>
				</div>
	<!--start-carrer-->

		<script>
			$(document).ready(function() {
				$("#tab2").hide();
				$("#tab3").hide();
				$("#tab4").hide();
				$(".tabs-menu a").click(function(event){
					event.preventDefault();
					var tab=$(this).attr("href");
					$(".tab-grid").not(tab).css("display","none");
					$(tab).fadeIn("slow");
				});
			});
		</script>

				</div>
			</div>
			<div class="col-md-4">
			<div class="payment-right">
				<h3>Ticket Summary</h3>
				<h6><span>Movie-Name:</span>{$film['title']}</h6>
				<p><span>Theatre:</span> {$cinema['name']} </p>
				<p><span>Lake:</span> Kerala</p>
				<p><span>Location:</span> {$cinema['address']}</p>
				<p><span>Date:</span> {$ticket['btime']|date="Y-m-d",###}---{$ticket['etime'|date="Y-m-d",###]}</p>
				<p><span>Time:</span> {$time}</p>
				<p><span>Seat Info:</span> 影院随机分配</p>
				<p><span>Qty:</span> 4</p>
				<h4><span>Total :</span>{$film['price']}</h4>
				<p>+ (平台服务费 : ￥. 1.00 )</p>
				<h5>Total :￥. {$film['price']+1}</h5>
			</div>
			<div class="ticket-note">
				<h3>Note:</h3>
				<ol>
					<li><p>一旦确认付款，该票无法退换，请在有效期内观影.</p></li>
					<li><p>In case of Credit/Debit Card bookings, the Credit/Debit Card and Card holder must be present at the ticket counter while collecting the ticket(s).</p></li>
				</ol>
			</div>
			</div>
			<div class="clearfix"></div>
		</div>


<script type="text/javascript">
		function makeOrder(){
			var vid = $("input[name='vid']").val();
			var cid = $("input[name='cid']").val();
			var tid = $("input[name='tid']").val();
			var time = $("input[name='time']").val();
			var banknum = $("input[name='banknum']").val();
			var bankname = $("input[name='bankname']").val();
			$.post('{:url('index/index/orderfilm')}',{'videoid':vid,'cinemaid':cid,'time':time,'ticketid':tid,'banknum':banknum,'bankname':bankname},function(data){






			},'JSON');

		}


</script>
{/block}