{extend name='index:base'}
{block name='main'}

    
<!-- AddThis Smart Layers END -->

	<ol class="breadcrumb">
			  <li><a href="index.html">Home</a></li>
			  <li class="active">公告详情</li>
			</ol>

	<div class="blog-section">
		<div class="col-md-12 blog-posts">
			<h3 class="post">{$notice.title}</h3>
				<div class="last-article">
					
		
					<p class="artext">{$notice.content}</p>

					<div class="clearfix"></div>

			
				<div class="clearfix"></div>
			</div>
		</div>
	
				<div class="clearfix"></div>
	</div>




{/block}
