{extend name='index:base'}
{block name='main'}

    
<!-- AddThis Smart Layers END -->

	<ol class="breadcrumb">
			  <li><a href="index.html">Home</a></li>
			  <li class="active">博客详情</li>
			</ol>

	<div class="blog-section">
		<div class="col-md-8 blog-posts">
			<h3 class="post">{$blog.title}</h3>
				<div class="last-article">
					<p class="artext">{$blog.description}</h3>
						{if condition="$blog.frameurl neq ''"}
					<iframe src="{$blog.frameurl}" frameborder="0" allowfullscreen></iframe>
					{/if}
					<p class="artext">{$blog.content}</p>

					<div class="clearfix"></div>

					<div class="comments">
						<h5>评论</h5>

						<div id="comment_box">
							


						</div>

						{foreach name='comments' item='vo'}
						<div class="comment">
						<!-- 	<div class="client">
								<img src="{$Think.config.WEBSERVER}/public/film/images/c1.jpg" alt="">
							</div> -->
							<div class="client-message">
								<p><a href="#">{$vo.nickname}</a><i class="fa fa-calendar"></i>{$vo.addtime|date="M d,H:i",###}</p>
								<h6>{$vo.content}.</h6>
							</div>
							<div class="clearfix"></div>
						</div>
						
						{/foreach}

						<textarea type="text" name="comment" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your comment...';}" required="">Your comment...</textarea>
						{if condition="$Think.session.login_uid neq ''"}
					<button class="btn btn-block" onclick="commentblog()">评论</button>	
	{else}

<p>你还没登录，请点此
	<button onclick="$('#loginmodal').modal('show');">登录</button></p>

{/if}
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="col-md-4 blog-categories">
			<h3 class="post">最新博客</h3>
			{foreach name='latest' item='lb'}
			<p><a href="{:url('index/index/readblog',array('id'=>$lb['id']))}">{$lb.title}</a></p>
			{/foreach}
		</div>
				<div class="clearfix"></div>
	</div>
	<div class="clearfix"></div>


<script>
function commentblog(){

	var comment = $("textarea[name='comment']").val();
	console.log(comment);
	if(comment === null){
		alert('亲爱的用户，你还没书写评论呢');
		return false;
	}

	$.post("{:url('index/index/comment')}",{'comment':comment,'blogid':{$blog['id']}},function(data){
			if(data.code === 1){
					// <div class="client">
					// 			<img src="{$Think.config.WEBSERVER}/public/film/images/c1.jpg" alt="">
					// 		</div>
					var commentblog = `<div class="comment">
						
							<div class="client-message">
								<p><a href="#">`+`{$Think.session.login_nick}`+`</a><i class="fa fa-calendar"></i>2 hours ago</p>
								<h6>`+comment+`</h6>
							</div>
							<div class="clearfix"></div>
						</div>`;
					$("#comment_box").append(commentblog);






			}

	},'JSON');


}

</script>
{/block}
