{extend name="admin:base" /}
{block name="main"}
  <link rel="stylesheet" href="{$Think.config.WEBSERVER}/public/com/jQuery-File-Upload-9.9.3/css/jquery.fileupload.css">
  <div class="box box-solid">
    <div class="box-header with-border">
      <h3 class="box-title">添加/编辑公告</h3><a href="{:url('admin/noticelist')}" class='btn btn-default btn-xs pull-right'>返回列表</a>
    </div><!-- /.box-header -->
    <div class="box-body">
         <form method="POST" id='form'>
            <input type="hidden" name="id" value="{$info.id}">
            <div class='form-group'>
              <label>标题：</label>
              <input type='text' name='title' class='form-control' value="{$info.title}">
            </div>

   
            <div class='form-group'>
              <label>内容：</label>
                <textarea id="editor_id" name="content" style="width:100%;min-height:260px;"></textarea>
            </div>
         </form>
    </div><!-- /.box-body -->
    <div class="box-footer clearfix">
      <button type="button" onclick="savenotice();" class="btn btn-success pull-right savenotice">确定</button>
    </div>   
  </div>
<div class="temp hide">{$info.content}</div>
<script charset="utf-8" src="{$Think.config.WEBSERVER}/public/com/kindeditor/kindeditor.js"></script>
<script charset="utf-8" src="{$Think.config.WEBSERVER}/public/com/kindeditor/lang/zh_CN.js"></script>
<script type="text/javascript">
KindEditor.ready(function(K) {
    window.editor = K.create('#editor_id',{
      uploadJson:"{:url('Common/upload')}"
    });
    editor.html($('.temp').html());
});
function savenotice(){
  $("#editor_id").val(editor.html());
  if(vr('title') == ''){
    alert('请填写标题!');
  }else{
    $(".savenotice").addClass('disabled');
    $.post(location.href,$('#form').serialize(),function(data){

          alert(data.msg);
          if(data['code']==1){
            location.href = "{:url('Admin/noticelist')}";
          }

    },'JSON');
  }
}
</script>

{/block}