{extend name="admin:base" /}
{block name="main"}
  <!-- 搜索 -->
  <div class="box box-solid">
    <div class="box-header with-border">
      <h3 class="box-title">视频列表</h3>
      <a href="{:url('index/admin/addvideo')}" class='btn btn-success btn-xs pull-right'>添加视频</a>
    </div>
    <div class="box-body">
      <form method="GET" action="{:url('admin/videolist')}" id='form'>
      <div class="row">
        <div class="col-xs-4 col-md-3">
          <div class="input-group">
            <input name="word" type='text' class='form-control' value="{:$_GET['word']}" placeholder='标题关键词搜索..'>
            <span class="input-group-addon" onclick="$('#form').submit();"><i class="fa fa-search"></i></span>
            {if condition="$_GET['word'] neq ''"}
            <a title='清除条件' class="input-group-addon" href="{:url('admin/videolist')}"><i class="fa fa-remove"></i></a>
            {/if}
          </div>
        </div>
      </div>
      </form>
    </div><!-- /.box-body -->
  </div>
  <!-- 列表 -->
  <div class="box box-solid">
    <div class="box-body">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th>ID</th>
            <th>电影名称</th>
            <th>封面</th>
            <th>类型</th>
            <th>票价</th>
            <th>人气值</th>
            <th>操作</th>
          </tr>
          {volist name="list" id="vo"}
          <tr>
            <td>{$vo.id}</td><td>{$vo.title}</td><td><if condition="$vo.cover neq ''"><a href="{$Think.Config.WEBSERVER}/{$vo.cover}" target='_blank'><i class='fa fa-photo'></i></a></if></td><td>{if condition="$vo.cate eq '1'"}影院{else/}在线{/if}</td>
            <td>{$vo.price}</td><td>{$vo.view}</td>

            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown">
                  管理
                  <span class="caret"></span>
                  <span class="sr-only">+</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  {if condition="$vo['cate'] neq '1'"}
                  <li><a href="{:url('admin/addonline',array('id'=>$vo['id']))}">编辑</a></li>
                  {/if}

                  <li class="divider"></li>
                  <li><a href="javascript:setstat({$vo.id},-1);">删除</a></li>
                </ul>
              </div>
            </td>
          </tr>
          {/volist}
        </tbody>
      </table>

    </div><!-- /.box-body -->
    <div class="box-footer clearfix">
	    <ul class="pagination pagination-sm no-margin pull-right">{$page}</ul>
	  </div>
  </div>
<script type="text/javascript">
function setstat(id,t){
  if(t == -1){
    var r = confirm("确定删除该视频？");
  }
  if(r == true){
    $.post(location.href,{"id":id,"t":t},function(data){
      alert(data.msg);
      if(data.ret == 1) location.reload();
    },'JSON');
  }
}
</script>
{/block}
